<!DOCTYPE html>
<html lang="en">
<head>
    <title>Super Secure Login</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action = '/' method = 'post'>
        <h3>Login Here</h3>

        <label for="usern">Username</label>
        <textarea type='username' id='usern' name='usern'></textarea>

        <label for="passw">Password</label>
        <textarea type='password' id='passw' name='passw' hidden></textarea>
        
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>
